//reds
$darkRed:#c4122f;
$red:#e21836;
$lightRed:#ee3a43;
$lighterRed:#f7bac3;
$lightestRed:#fbdde1;

//greens
$darkGreen:#00a950;
$green:#1fb25a;
$lightGreen:#50b948;
$lighterGreen:#cce4cb;
$lightestGreen:#e6f2e5;

//blues
$darkBlue:#0078ae;
$blue:#0093d0;
$lightBlue:#00a4e4;
$lighterBlue:#b6dbef;
$lightestBlue:#dbedf7;

//oranges
$darkOrange:#f4911e;
$orange:#f89829;
$lightOrange:#fcb040;
$lighterOrange:#fbdebe;
$lightestOrange:#fdefdf;

//greys
$darkerGrey:#222222;
$darkGrey:#444443;
$grey:#575656;
$lightGrey:#858585;
$lighterGrey:#cccccc;
$lightestGrey:#e6e6e6;